
@font-face {
  font-family: 'Montserrat';
  src: url('../font/Montserrat-SemiBold_0.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../font/Montserrat-ExtraLight_0.ttf');
  font-weight: normal;
}

* {
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
}
section {
  height: 100vh;
  scroll-snap-align: start;
  display: flex;
  align-items: center;
}
  
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  font:inherit;
  font-family: Montserrat;
  vertical-align:baseline;
  letter-spacing: .08rem;
} 

body {
  background-color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0px !important;
  color: 131313;
}
.head-div {
  max-width: 30rem;
  width: 100%;
  padding: 2rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.head-div > img {
  width: 100%;
}
.tab {
  margin-top: 3rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  color: #131313;
}
.tab > span {
  margin: 0 5px;
  padding-left: .5rem;
  letter-spacing: .5rem;
  cursor: pointer;
}
.tab > span:hover {
  font-weight: bold;
}
.tab > .space {
  width: .02rem;
  height: 1.3rem;
  background-color: #131313;
}
.container {
  display: flex;
  justify-content: center;
  width: 100%;
}
.black {
  color: white;
  background-color: #131313;
  margin-bottom: -1px;
}
.content {
  max-width: 30rem;
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title-div {
  padding-left: .5rem;
  letter-spacing: .5rem;
  font-size: 2rem;
  font-weight: bold;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
}
.image_01 {
  width: 25rem;
  height: 8rem;
  position: relative;
  background-color: #1A1A1A;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
.image_01 > img {
  width: 70%;
  position: absolute;
  bottom: -1rem;
}
.image_02 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image_02 > img {
  width: 25%;
  margin-left: 10%;
}
.image_02 > .text {
  text-align: right !important;
}
.image_03 {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.image_03 > img {
  width: 30%;
}
.image_04 {
  background-color: #e5e5e5;
  border-radius: 2rem;
  height: 3rem;
  position: relative;
  width: 100%;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
}
.image_04 > .img_div {
  padding: 1rem 2rem;
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.image_04 > .img_div > .cate {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  font-size: .9rem;
}
.image_04 > .img_div >.cate > img {
  width: 3rem;
  margin-bottom: .5rem;
}
.image_05 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image_05 > img {
  width: 30%;
  margin-right: 10%;
}
.image_05 > .text {
  text-align: left !important;
}
.image_06 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.title-div.image_06 {
  color: #e5e5e5;
}
.image_06 > img {
  height: 2rem;
  max-width: 5rem;
  object-fit: contain;
  margin: 1rem;
}
.text {
  font-size: .9rem;
  font-weight: 300;
  line-height: 1.3rem;
  text-align: center;
  padding: 0 1rem;
}
.content.contact {
  flex-direction: row;
  justify-content: space-between;
}
.content.contact > div {
  max-width: 50%;
}
.content.contact > div > .title-div {
  padding-left: 0;
  text-align: left;
}
.content.contact > div > .text {
  padding: 0;
  font-size: .6rem;
  text-align: left;
  line-height: 1rem;
  letter-spacing: .1rem;
}
.content.contact > .rights {
  max-width: 10rem;
  padding-bottom: .5rem;
}
.content.contact > .rights > .text {
  margin-top: 1rem;
  font-size: .5rem;
  white-space: nowrap;
  letter-spacing: 0;
}
.icon-social {
  display: flex;
}
.icon-social > a > img {
  cursor: pointer;
  width: 1rem;
  height: 1rem;
  object-fit: contain;
  margin-right: 1rem;
}
.icon-social > a > img:hover {
  width: 1.1rem;
  height: 1.1rem;
  margin-right: .9rem;
}
.label {
  font-size: .8rem;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: .2rem;
  text-align: left;
}
img.icon {
  max-width: 10rem;
  width: 100%;
}


@media screen and (max-width: 576px) {
  .image_01 {
    width: 80vw;
    height: 25vw;
  }
  .image_04 {
    border-radius: 1rem;
    height: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }
  .image_04 > .img_div {
    padding: .5rem 1rem;
  }
  .image_04 > .img_div > .cate {
    font-size: 9px;
    width: 20%;
  }
  .image_04 > .img_div > .cate > img {
    width: 1.5rem;
    margin-bottom: .3rem;
  }
  .image_05 > img {
    width: 33%;
    margin-right: 7%;
  }
  .image_06 > img {
    height: 1.3rem;
    max-width: 3rem;
    margin: .7rem;
  }
  .title-div {
    font-size: 1.2rem;
  }
  .text {
    font-size: .6rem;
    line-height: 1rem;
  }
  .label {
    font-size: .6rem;
  }
  .content.contact > div > .text {
    font-size: .5rem;
  }
  .content.contact > .rights > .text {
    font-size: 7px;
  }
  img.icon {
    width: 35vw;
  }
  .icon-social > a > img {
    width: .7rem;
    height: .7rem;
    object-fit: contain;
    margin-right: .5rem;
  }
}